<% if product.comments.count > 1 %>
<div class="col-md-12 more-space">
	<p class="text-center">All comments:</p>

	<div class="product-reviews">
	    <% @comments.each do |comment| %>
	        <div class="row">
	            <p><%= comment.user.first_name %> <%= comment.user.last_name %><small><em> <%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
	            	<% if signed_in? && current_user.admin? %>
	            	<small> <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %></small>
	            	<% end %>
	            </p>
	            <p><%= "Rating: #{comment.rating}/5" %></p>
	            <div class="rated" data-score="<%= comment.rating %>"></div>
	            <p><%= comment.body %></p>
	            <hr>
	        </div>
	    <% end %>
	    <%= will_paginate @comments %>
	</div>
<% else %>
<div class="col-md-12 more-space">
	<p class="text-center">No comment yet for this product</p>
<% end %>