<% if product.comments.count > 2 %>
	<div class="col-md-6">
		<p class="text-center">The heighest rate:</p>
		<div class="product-reviews2">
	        <div class="row">
            	<p><%= product.highest_rating_comment.user.first_name %> <small><em><%= "#{time_ago_in_words(product.highest_rating_comment.created_at)} ago" %></em></small></p>
            	<p><%= "Rating: #{product.highest_rating_comment.rating}/5" %></p>
            	<div class="rated" data-score="<%= product.highest_rating_comment.rating %>"></div>
            	<p><%= product.highest_rating_comment.body %></p>
            </div>
		</div>
	</div>
<% end %>
