<p id="notice"><%= notice %></p>

<div class="product-presentation">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center"><%= @product.name %></h2>
				<h3><strong>Price: </strong><%= @product.price %></h3>
				<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
				<h4><u>Product details:</u></h4>
          		<p><%= @product.description %></p>
          		<p><%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Back', products_path %></p>
			</div>
			<div class="col-md-8">
				<img src="<%= @product.image_url %>" class="img-responsive">
			</div>
			<div class="col-md-12">
				<h3 class="text-center">Reviews</h3>
			</div>
			<%= render 'highest_rating_comment', product: @product %>
			<%= render 'lowest_rating_comment', product: @product %>
			<%= render 'comments', product: @product %>
			<div class="col-md-12">				
				<%= render 'new_comment', product: @product %>
			</div>
		</div>	
	</div>	
</div>

