<p id="notice"><%= notice %></p>

<div class="product-presentation">
    <% cache @product do %>
	<div class="container">
		<div class="row">
			<h2 class="text-center"><%= @product.name %></h2>
			<div class="col-md-4">
				<br><br>
				<%= image_tag(@product.image_url, width: "300", class: "img-zoom", data_zoom_image: @product.image_url) %>
				<!-- <img src="<%= @product.image_url %>" class="img-responsive"> -->
			</div>
			<div class="col-md-8">
				<h3><strong>Price: </strong><%= number_to_currency(@product.price, unit:"€ ") %></h3>
				<p>Average Rating: <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div> </p>
				<p>
					<%= form_tag "/payments/create" do %>
  					<%= render partial: "shared/stripe_checkout_button" %>
					<% end %>
				</p>
			</div>
		</div>
				<h4><u>Product details:</u></h4>
          		<p><%= @product.description %></p>
          		<p><%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Back', products_path %></p>
		<div class="row">
			
			<div class="col-md-12">
				<h3 class="text-center">Reviews</h3>
			</div>
			<%= render 'highest_rating_comment', product: @product %>
			<%= render 'lowest_rating_comment', product: @product %>
			<%= render 'comments', product: @product %>
			<div class="col-md-12">				
				<%= render 'new_comment', product: @product %>
			</div>
		</div>	
	</div>
	<% end %>	
</div>

