<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  	<div class="container-fluid">
	  		<div class="navbar-header">
	  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			  	</button>
		  		<div class="navbar-brand">
			    <a href="/">Bike Berlin</a>
			  	</div> <!--end projectName -->
			</div> <!--end navbar-header -->
		    <div class="navbar-collapse collapse">
		      	<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", '#' %></li>
					<li><%= link_to "About", '/static_pages/about' %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><%= link_to "All products", '/products' %></li>
								<li role="separator" class="divider"></li>
								<li><%= link_to "Featured products", '/static_pages/landing_page' %></li>
							</ul>		
					</li>
					<li><%= link_to "Contact", '/static_pages/contact' %></li>
					
					<%= form_tag("/products", method: "get", class: 'navbar-form navbar-left') do %>
						<div class="form-group">
							<%= text_field_tag(:q, nil, placeholder: 'What are you looking for?', class: 'form-control') %>
						</div>
						<%= button_tag("Search", class: 'btn btn-default') %>
                    <% end %>

                    <% if user_signed_in? %>
	                <li><%= link_to "Users", '/users' %></li>
					<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
					<% else %>
					<li><%= link_to('Login', new_user_session_path) %></li>
					<% end %>
		      	</ul>
		    </div> <!-- nav -->

	  	</div> <!-- end nav container-->
  	</nav> <!-- end navbar-->
  	
	<% if notice %>
	  <div class="alert alert-success" role="alert" id="alert">
	    <p class="notice"><%= notice %></p>
	  </div>
	<% end %>
	<% if alert %>
	  <div class="alert alert-danger" role="alert" id="alert">
	    <p class="alert"><%= alert %></p>
	  </div>
	<% end %>

  	<div id="wrap">
	<%= yield %>
	<div id="push"></div>  		
  	</div>

	<footer id="footer">
		<div class="container">
        &copy; 2016 Bike Berlin
        </div>
	</footer>
	
</body>
</html>
